# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\BlizzardGames\World of Warcraft\_classic_\Interface\AddOns\GDKP-LootHorde\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
